* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Montserrat, 'Helvetica Neue', sans-serif;
}
.container-sidebar {
  display: flex;
}
.container-card { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start;
  padding: 20px; 
  background-color: #1e1f38; 
}
.container-card img{
  width: 60%;
}
.sidebar {
  width: 250px; /* Larghezza della sidebar */
  background-color: #040404;
  padding: 20px;
  color: #e6e6e6;
}
.content {
  overflow: auto;
  height: calc(100vh - 100px);
  background-color: #1e1f38;

}

.header {
  background-color: #1e1f38;
  color: white;
  height: 100px;
  text-align: right;
}

.main {
  padding: 0px;
}
.card {  
  flex-wrap: wrap;
  margin: 10px; 
  
  
  
  
 }
 .title-card { 
  width: 100%; 
  text-align: left; 
  margin-bottom: 20px; 
  color: white;
  
}

button{
  border-radius: 20px;
}

aside{
  background-color: aquamarine;
  width: 250px;
  flex-shrink: 0;
}

.footer {
  background-color: #242724;
  color: white;
  height: 100px;
  
}