* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Montserrat, 'Helvetica Neue', sans-serif;
}
.container-sidebar {
  display: flex;
}

aside{
  background-color: aquamarine;
  width: 250px;
  flex-shrink: 0;
}

.container-card { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start;
  padding: 20px; 
  background-color: #1e1f38; 
}
.container-card img{
  width: 100%;
}
.container-footer{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.container-footer img{
  width: 5%;
}


.progress { 
  display: flex;
  align-items: center;
  justify-content: space-between;
} 



.sidebar {
  width: 250px;
  background-color: #040404;
  padding: 20px;
  color: #e6e6e6;
}



.content {
  overflow: auto;
  height: calc(100vh - 100px);
  background-color: #1e1f38;

}

.header {
  background-color: #18191c;
  color: white;
  height: 100px;
  text-align: right;
}

.menu{
  text-align: center;
  margin-bottom: 20px;
  padding-left: 500px;
}
.menu-list { 
  list-style-type: none; 
  padding: 0; 
  display: flex; 
  justify-content: center; 
} 
.menu-list li { 
  margin: 0 15px; 
} 
.menu-list li a { 
  text-decoration: none; 
  color: rgb(146, 138, 138); 
}


.card {  
  flex-wrap: wrap;
  margin: 10px; 
  color: white;
  text-align: center;
   
 }
 .title-card { 
  width: 100%; 
  text-align: left; 
  margin-bottom: 20px; 
  color: white;
}


button{
  border-radius: 50px;
}


.footer {
  background-color: #242724;
  color: white;
  height: 100px;
  
  
}

@media screen and (max-width:600px){
  .sidebar{
    width: 50px;

  }
  .content{
    width: calc(100% - 50px);
  }
}