* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Montserrat, 'Helvetica Neue', sans-serif;
}
.container-sidebar {
  display: flex;
}
.sidebar-logo img{
  width: 80%;
}

aside{
  background-color: aquamarine;
  width: 250px;
  flex-shrink: 0;
}
header{
  background-color: #18191c;
  height: 100px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.container-card { 
  display: flex; 
  flex-wrap: wrap; 
  justify-content: flex-start;
  padding: 20px; 
  background-color: #1e1f38; 
}
.container-card img{
  width: 100%;
}
.container-footer{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.container-footer img{
  width: 15%;
}


.sidebar {
  width: 250px;
  background-color: #040404;
  padding: 20px;
  color: #e6e6e6;
}

.content {
  overflow: auto;
  height: calc(100vh - 100px);
  background-color: #1e1f38;

}

.menu{
  text-align: center;
  margin-bottom: 20px;
  width: 100%;

}

.menu-list { 
  list-style-type: none; 
  padding: 0; 
  display: flex; 
  justify-content: center; 
} 
.menu-list li { 
  margin: 0 15px; 
} 
.menu-list li a { 
  text-decoration: none; 
  color: rgb(146, 138, 138); 
}

.card {  
  position: relative;
  flex-wrap: wrap;
  margin: 10px; 
  color: white;
  text-align: center;
  width: calc(100% / 6 - 20px); 
 }

 .title-card { 
  width: 100%; 
  text-align: left; 
  margin-bottom: 20px; 
  color: white;
}
.card i.fa-circle-play{
  top:140px;
  left: 140px;
  position: absolute;
  font-size: 5rem;
  display: none;
}
.card:hover .fa-circle-play{
  display: inline-block;
}

.card-mini-left{
  display: flex;
  align-items: center;
  padding: 25px;
  width: 250px;
  
}
.text-card{
  padding-left: 20px;
  padding-right: 20px;
}

.card-mini-center{
  
  align-items: center;
  padding: 10px;
  max-width: 30%;
  
}
.card-mini-right{
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 0;
  
}
.media-player i{
  padding-right: 10px;
  padding-left: 10px;
}
.media-player i{
  font-size: 20px;
}
.media-player i:nth-child(3){
  font-size: 30px;
}
.progress{ 
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
} 
.media-player{
  padding-top: 10px;
  padding-bottom: 10px;
}

.volume-bar a{
  color: white;
}
header button{
  border: 20px solid white;
  border-radius: 50px;
  height: 50%;
}


.footer {
  background-color: #242724;
  color: white;
  height: 100px;
}


@media screen and (max-width:700px){
  .card{
    width: calc(100% / 4 - 20px);
  }
}

@media screen and (max-width:600px){
  .sidebar{
    width: 50px;

  }
  .content{
    width: calc(100% - 50px);
  }
  .card{
    width: calc(100% / 2 - 20px);
  }
}
